body{
    background-image: url("../img/loginbg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.flex-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.center{
    width:300px;
    height:200px;
    padding:30px;
    background-color: white;
    border-radius: 10px;
    -moz-box-shadow:10px 10px 10px black; -webkit-box-shadow:10px 10px 10px black; box-shadow:10px 10px 10px black;
}